<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150872695950-5t1pav2rm0sdcl32bs8qfh1rece6912c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150872695950-5t1pav2rm0sdcl32bs8qfh1rece6912c</string>
	<key>API_KEY</key>
	<string>AIzaSyBBZ0mipnDWe0Dt-7uNS-Rq8XIP6XopIYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>150872695950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zcredi.RecipesApp</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-f8351</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-f8351.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150872695950:ios:089faa9372d25be5c755df</string>
</dict>
</plist>